body {
    background: url('/static/uetlahore.jpg') no-repeat center center fixed;
    background-size: cover;
    position: relative;
    font-family: 'Segoe UI', sans-serif;
    color: white;
    min-height: 100vh;
} 
body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: -1;
}
h1 {
    text-align: center;
    color: whitesmoke;
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 50px;
    backdrop-filter: blur(10px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    z-index: 1;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
h2 {
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 30px;
    color: orangered;
    z-index: 2;
}
.login-form, .register-form{
    display: flex; 
    justify-content: center;
    align-items:left;
    flex-direction: column;
    text-align: left;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    color: white;
    z-index: 100;
}
.login-form input, .register-form input {
    border-radius: 7px;
    padding: 10px;
    border: none;
}
.login-form button, .register-form button {
    background-color: orangered;
    color: aliceblue;
    border-radius: 7px;
    border: none;
    padding: 20px;
    font-size: 15px;
    font-weight: 700;
}
.input-label {
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 2px;
    margin-left: 2px;
    font-weight: 500;
    font-size: 12px;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.below-form-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    color: white;
    text-decoration: none;
}
.user-welcome{
    text-align: center;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 700;
}
.user-welcome a {
    text-decoration: none;
    color: red;
}
.report-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    color: white;
    background-color:orangered;
    width: 300px;
    padding: 15px;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    font-size: 1.5rem;
}
.search-form{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.search-form input, .search-form select {
    margin-left: 10px;
    margin-right: 10px;
    padding: 6px;
    border: none;
    border-radius: 5px;
}
.search-form button {
    padding: 6px;
    border: none;
    border-radius: 5px;
    background-color: orangered;
    color: white;
    cursor: pointer;
}
.report-form, .edit-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}
.report-form label {
    text-align: left;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    margin-bottom: -10px;
}
.report-form input, .report-form select, .edit-form input, .edit-form select {
    padding: 10px;
    border: none;
    border-radius: 5px;
}
.report-form textarea, .edit-form textarea {
    padding: 10px;
    border: none;
    border-radius: 5px;
    height: 150px;
}
.edit-form input, .edit-form select {
    margin-top: 10px;
}
.edit-form textarea {
    margin-top: 10px;
}
.report-submit-btn {
    background-color: orangered;
    color: aliceblue;
    font-weight: 700;
    font-size: 1.2rem;
    cursor: pointer;
}
.edit-save-btn {
    background-color: orangered;
    color: aliceblue;
    font-weight: 700;
    font-size: 1.2rem;
    cursor: pointer;
    border: none;
    padding: 10px;
    border-radius: 5px;
}
.reported-items {
    display: flex;
    justify-content: center;
    align-items: left;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    color: whitesmoke;
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 50px;
    backdrop-filter: blur(10px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    z-index: 1;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.reported-items li{
    margin-left: 20px;
    margin-top: 10px;
}
.edit-btn {
    padding: 4px 10px 4px 10px;
    border: none;
    border-radius: 5px;
    background-color: green;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    width: 50px;
    margin-left: auto;
    margin-right: 80px;
    margin-top: -30px;
}
.del-btn {
    padding: 4px 10px 4px 10px;
    border: none;
    border-radius: 5px;
    background-color: red;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    width: 50px;
    margin-left: auto;
    margin-top: -30px;
}
.claim-btn {
    padding: 4px 10px 4px 10px;
    border: none;
    border-radius: 5px;
    background-color: blue;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    display: flex;
    width: 50px;
    margin-left: auto;
    margin-top: -30px;
}
.login-signup-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    color: orangered;
    font-weight: bold;
    font-size: 1.3rem;
}
.login-signup-btn a {
    color: white;
    text-decoration: none;
    background-color: orangered;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
    margin-left: 10px;
}
a {
    text-decoration: none;
    color: aliceblue;
}
@media only screen and (max-width: 600px) {

    .login-form, .register-form, .report-form, .edit-form {
      width: 90%;
      margin-left: auto;
      margin-right: auto;
    }
    .reported-items, .report-btn {
        width: 80%;
    }
  
    .search-form {
      flex-direction: column;
      gap: 10px;
    }
  
    .search-form input {
        width: 83%;
    }
    .search-form select,
    .search-form button {
      width: 86%;
      margin-bottom: 5px;
    }
  
    h1, h2 {
      font-size: 1.5rem;
      padding: 10px;
    }
    .sep-line{
        display: none;
    }
    .edit-btn,
    .del-btn,
    .claim-btn {
      width: 87%;
      margin: 10px 0;
    }
  }
  